<html>
  <head>
    <title>Meet a Recurser</title>
    <link rel="stylesheet" href="/css/tachyons.min.css">
  </head>
  <body>
    <h1>Meet a Recurser!</h1>

    <p>
    Welcome <%= @current_user.name %>!
    </p>

    <img src="<%= @current_user.image %>">

    <form method="post">
      <select name="frequency" class="frequency">
        <option value="0" <% if @current_user.frequency == 0 %>selected<% end %> >Never</option>
        <option value="1" <% if @current_user.frequency == 1 %>selected<% end %>>Every Day</option>
        <option value="7" <% if @current_user.frequency == 7 %>selected<% end %>>Every Week</option>
        <option value="30" <% if @current_user.frequency == 30 %>selected<% end %>>Every Month</option>
        <option value="90" <% if @current_user.frequency == 90 %>selected<% end %>>Every Quarter</option>
      </select>
      <input type="submit">
    </form>

    <p>Your ID is <%= @current_user.id %>. Your email is <%= @current_user.email %>.</p>
  </body>
</html>
